# IntelliJ
.idea/

# Build files
out/
build/
target/
*.class

# Environment
.env

# Dependencies / caches
.m2/
.ollama/

# Libraries
lib/

# OS files
.DS_Store

# VS Code
.vscode/
.idea/
out/
build/
target/
*.class
.env
.m2/
.ollama/
lib/